// =============================================================================
// Work
// =============================================================================

// Displays the projects/company I've built.

.work-item {
  position: relative;
  display: block;
  padding: 50px 0 46px;
  border-bottom: 1px solid $base-border-color;
  p {
    display: innline-block;
    max-width: 600px;
    margin-top: 15px;
  }
  .icon {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
    font-size: 30px;
    color: $gray-light;
    transition: color $base-transition-speed linear;
  }
  &:hover .icon {
    color: $gray-darker;
  }
}

// Responsive
// =============================================================================

@include breakpoint(medium) {
  .work-item {
    padding: 30px 0;
    p {
      margin-top: 10px;
      transition: color $base-transition-speed linear;
    }
    .icon {
      display: none;
    }
    &:hover p {
      color: $gray-darker;
    }
  }
}
