<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:image" content="{% asset_path background.jpg %}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{% asset_path background.jpg %}">

  <link rel="apple-touch-icon" href="{% asset_path apple-touch-icon.png %}">

  {% stylesheet application %}
</head>
<body>
  {{ content }}

  {% javascript vendor %}
  {% javascript application %}

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Abel', 'Lato:400']
      }
    });
  </script>

  {% if site.ga_analytics %}
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','{{ site.ga_analytics }}','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  {% endif %}
</body>
</html>
