// =============================================================================
// Footer
// =============================================================================

// Footer wrapper.

footer {
  padding: 100px 0;
  text-align: center;
  p {
    margin-top: 15px;
    font-size: 13px;
    color: $gray-light;
  }
}

// Social media links in footer.

.footer-social {
  display: inline-block;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    a {
      margin: 0 12px;
    }
  }
}

// Responsive
// =============================================================================

@include breakpoint(small) {
  footer {
    padding: 60px 0;
  }
  .footer-social li a {
    margin: 0 7px;
  }
}
